.index-header {
  margin-top: 150px;
}

.index-form {
  margin-top: 200px;
}

.index-header,
.index-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-header__icon {
  position: relative;
  padding: 15px;
  font-size: 80px;
  background-color: var(--icon-green);
  color: white;
  border-radius: 30px;
  margin-bottom: 25px;
}

.index-header__icon span {
  position: absolute;
  color: var(--icon-green);
  font-weight: 900;
  font-size: 27px;
  bottom: 43px;
  left: 26px;
}

.index-form input {
  display: block;
  width: 80%;
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.index-form__login,
.index-form__join {
  cursor: pointer;
}

.index-form__login {
  background-color: var(--green);
  color: white;
}

.index-form__join {
  background-color: white;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--green);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen i {
  background-color: transparent;
  font-size: 170px;
}
