.index-header {
  margin-top: 200px;
}

.index-form {
  margin-top: 250px;
}

.index-header,
.index-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-header__icon {
  position: relative;
  padding: 15px;
  font-size: 80px;
  background-color: var(--icon-green);
  color: white;
  border-radius: 30px;
  margin-bottom: 25px;
}

.index-header__icon span {
  position: absolute;
  color: var(--icon-green);
  font-weight: 900;
  font-size: 27px;
  bottom: 43px;
  left: 26px;
}

.index-form input {
  display: block;
  width: 80%;
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.index-form__login,
.index-form__join {
  cursor: pointer;
}

.index-form__login {
  background-color: var(--green);
  color: white;
}

.index-form__join {
  background-color: white;
}
