.navigation-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background-color: white;
  padding-top: 10px;
  padding-bottom: 15px;
}

.navigation-bar__list {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.navigation-bar__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-bar__button i {
  font-size: 25px;
  margin-bottom: 5px;
}

.navigation-bar__button span {
  font-size: 12px;
}
